@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-custom-sans);
}

:root {
  --font-custom-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

[data-font="geist"] {
  --font-custom-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

[data-font="inter"] {
  --font-custom-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

[data-font="roboto"] {
  --font-custom-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

[data-font="outfit"] {
  --font-custom-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

[data-font="poppins"] {
  --font-custom-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.99 0.005 250);
  /* blue-50 */
  --foreground: oklch(0.15 0.03 250);
  /* ~blue-900 */

  --card: oklch(0.98 0.007 250);
  /* blue-100 */
  --card-foreground: oklch(0.15 0.03 250);

  --popover: oklch(0.98 0.007 250);
  --popover-foreground: oklch(0.15 0.03 250);

  --primary: oklch(0.35 0.14 250);
  /* blue-800 */
  --primary-foreground: oklch(0.99 0.005 250);
  /* blue-50 */

  --secondary: oklch(88.2% 0.059 254.128);
  /* blue-200 */
  --secondary-foreground: oklch(37.9% 0.146 265.522);
  /* ~blue-900 */

  --muted: oklch(0.93 0.008 250);
  /* blue-100 */
  --muted-foreground: oklch(0.4 0.04 250);
  /* ~blue-600 */

  --accent: oklch(0.88 0.01 250);
  /* blue-300 */
  --accent-foreground: oklch(0.2 0.05 250);

  --destructive: oklch(0.57 0.25 27.325);
  /* red tone */

  --success: oklch(0.55 0.18 145);
  /* green-600 */
  --success-foreground: oklch(0.99 0.01 145);
  /* light green */

  --border: oklch(0.88 0.01 250);
  /* blue-200 */
  --input: oklch(0.88 0.01 250);
  --ring: oklch(0.66 0.04 250);
  /* blue-500 */

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(1 0 0);
  /* white */
  --sidebar-foreground: oklch(0.2 0.05 250);
  --sidebar-primary: oklch(0.3 0.14 250);
  /* blue-900 */
  --sidebar-primary-foreground: oklch(0.99 0.01 250);
  --sidebar-accent: oklch(0.92 0.015 250);
  /* blue-200 */
  --sidebar-accent-foreground: oklch(0.26 0.05 250);
  --sidebar-border: oklch(0.88 0.01 250);
  --sidebar-ring: oklch(0.66 0.04 250);
}

.dark {
  --background: oklch(0.15 0.03 250);
  /* blue-950 */
  --foreground: oklch(0.99 0.005 250);
  /* blue-50 */

  --card: oklch(0.2 0.04 250);
  /* ~blue-900 */
  --card-foreground: oklch(0.99 0.005 250);

  --popover: oklch(0.2 0.04 250);
  --popover-foreground: oklch(0.99 0.005 250);

  --primary: oklch(0.9 0.01 250);
  /* blue-200 */
  --primary-foreground: oklch(0.2 0.05 250);

  --secondary: oklch(37.9% 0.146 265.522);
  /* blue-800 */
  --secondary-foreground: oklch(0.98 0.005 250);

  --muted: oklch(0.33 0.03 250);
  --muted-foreground: oklch(0.7 0.02 250);

  --accent: oklch(0.4 0.04 250);
  /* blue-700 */
  --accent-foreground: oklch(0.98 0.01 250);

  --destructive: oklch(0.704 0.191 22.216);
  /* red */

  --success: oklch(0.65 0.17 145);
  /* green-400 */
  --success-foreground: oklch(0.15 0.05 145);
  /* dark green */

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.66 0.04 250);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.1 0.01 250);
  --sidebar-foreground: oklch(0.98 0.005 250);
  --sidebar-primary: oklch(0.6 0.15 250);
  --sidebar-primary-foreground: oklch(0.98 0.005 250);
  --sidebar-accent: oklch(0.4 0.04 250);
  --sidebar-accent-foreground: oklch(0.98 0.01 250);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.66 0.04 250);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Dynamic Themes */

[data-theme="zinc"] {

  --radius: 0.625rem;

  --background: oklch(0.99 0.005 0);
  /* blue-50 */
  --foreground: oklch(0.15 0.005 0);
  /* ~blue-900 */

  --card: oklch(0.98 0.005 0);
  /* blue-100 */
  --card-foreground: oklch(0.15 0.005 0);

  --popover: oklch(0.98 0.005 0);
  --popover-foreground: oklch(0.15 0.005 0);

  --primary: oklch(0.35 0.005 0);
  /* blue-800 */
  --primary-foreground: oklch(0.99 0.005 0);
  /* blue-50 */

  --secondary: oklch(88.2% 0.059 254.128);
  /* blue-200 */
  --secondary-foreground: oklch(37.9% 0.146 265.522);
  /* ~blue-900 */

  --muted: oklch(0.93 0.005 0);
  /* blue-100 */
  --muted-foreground: oklch(0.4 0.005 0);
  /* ~blue-600 */

  --accent: oklch(0.88 0.005 0);
  /* blue-300 */
  --accent-foreground: oklch(0.2 0.005 0);

  --destructive: oklch(0.57 0.25 27.325);
  /* red tone */

  --success: oklch(0.55 0.18 145);
  /* green-600 */
  --success-foreground: oklch(0.99 0.01 145);
  /* light green */

  --border: oklch(0.88 0.005 0);
  /* blue-200 */
  --input: oklch(0.88 0.005 0);
  --ring: oklch(0.66 0.005 0);
  /* blue-500 */

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(1 0 0);
  /* white */
  --sidebar-foreground: oklch(0.2 0.005 0);
  --sidebar-primary: oklch(0.3 0.005 0);
  /* blue-900 */
  --sidebar-primary-foreground: oklch(0.99 0.005 0);
  --sidebar-accent: oklch(0.92 0.005 0);
  /* blue-200 */
  --sidebar-accent-foreground: oklch(0.26 0.005 0);
  --sidebar-border: oklch(0.88 0.005 0);
  --sidebar-ring: oklch(0.66 0.005 0);
}

[data-theme="zinc"].dark {

  --background: oklch(0.15 0.005 0);
  /* blue-950 */
  --foreground: oklch(0.99 0.005 0);
  /* blue-50 */

  --card: oklch(0.2 0.005 0);
  /* ~blue-900 */
  --card-foreground: oklch(0.99 0.005 0);

  --popover: oklch(0.2 0.005 0);
  --popover-foreground: oklch(0.99 0.005 0);

  --primary: oklch(0.9 0.005 0);
  /* blue-200 */
  --primary-foreground: oklch(0.2 0.005 0);

  --secondary: oklch(37.9% 0.146 265.522);
  /* blue-800 */
  --secondary-foreground: oklch(0.98 0.005 0);

  --muted: oklch(0.33 0.005 0);
  --muted-foreground: oklch(0.7 0.005 0);

  --accent: oklch(0.4 0.005 0);
  /* blue-700 */
  --accent-foreground: oklch(0.98 0.005 0);

  --destructive: oklch(0.704 0.191 22.216);
  /* red */

  --success: oklch(0.65 0.17 145);
  /* green-400 */
  --success-foreground: oklch(0.15 0.05 145);
  /* dark green */

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.66 0.005 0);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.1 0.005 0);
  --sidebar-foreground: oklch(0.98 0.005 0);
  --sidebar-primary: oklch(0.6 0.005 0);
  --sidebar-primary-foreground: oklch(0.98 0.005 0);
  --sidebar-accent: oklch(0.4 0.005 0);
  --sidebar-accent-foreground: oklch(0.98 0.005 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.66 0.005 0);
}

[data-theme="green"] {

  --radius: 0.625rem;

  --background: oklch(0.99 0.005 150);
  /* blue-50 */
  --foreground: oklch(0.15 0.03 150);
  /* ~blue-900 */

  --card: oklch(0.98 0.007 150);
  /* blue-100 */
  --card-foreground: oklch(0.15 0.03 150);

  --popover: oklch(0.98 0.007 150);
  --popover-foreground: oklch(0.15 0.03 150);

  --primary: oklch(0.35 0.14 150);
  /* blue-800 */
  --primary-foreground: oklch(0.99 0.005 150);
  /* blue-50 */

  --secondary: oklch(88.2% 0.059 154);
  /* blue-200 */
  --secondary-foreground: oklch(37.9% 0.146 165);
  /* ~blue-900 */

  --muted: oklch(0.93 0.008 150);
  /* blue-100 */
  --muted-foreground: oklch(0.4 0.04 150);
  /* ~blue-600 */

  --accent: oklch(0.88 0.01 150);
  /* blue-300 */
  --accent-foreground: oklch(0.2 0.05 150);

  --destructive: oklch(0.57 0.25 27.325);
  /* red tone */

  --success: oklch(0.55 0.18 145);
  /* green-600 */
  --success-foreground: oklch(0.99 0.01 145);
  /* light green */

  --border: oklch(0.88 0.01 150);
  /* blue-200 */
  --input: oklch(0.88 0.01 150);
  --ring: oklch(0.66 0.04 150);
  /* blue-500 */

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(1 0 0);
  /* white */
  --sidebar-foreground: oklch(0.2 0.05 150);
  --sidebar-primary: oklch(0.3 0.14 150);
  /* blue-900 */
  --sidebar-primary-foreground: oklch(0.99 0.01 150);
  --sidebar-accent: oklch(0.92 0.015 150);
  /* blue-200 */
  --sidebar-accent-foreground: oklch(0.26 0.05 150);
  --sidebar-border: oklch(0.88 0.01 150);
  --sidebar-ring: oklch(0.66 0.04 150);
}

[data-theme="green"].dark {

  --background: oklch(0.15 0.03 150);
  /* blue-950 */
  --foreground: oklch(0.99 0.005 150);
  /* blue-50 */

  --card: oklch(0.2 0.04 150);
  /* ~blue-900 */
  --card-foreground: oklch(0.99 0.005 150);

  --popover: oklch(0.2 0.04 150);
  --popover-foreground: oklch(0.99 0.005 150);

  --primary: oklch(0.9 0.01 150);
  /* blue-200 */
  --primary-foreground: oklch(0.2 0.05 150);

  --secondary: oklch(37.9% 0.146 165);
  /* blue-800 */
  --secondary-foreground: oklch(0.98 0.005 150);

  --muted: oklch(0.33 0.03 150);
  --muted-foreground: oklch(0.7 0.02 150);

  --accent: oklch(0.4 0.04 150);
  /* blue-700 */
  --accent-foreground: oklch(0.98 0.01 150);

  --destructive: oklch(0.704 0.191 22.216);
  /* red */

  --success: oklch(0.65 0.17 145);
  /* green-400 */
  --success-foreground: oklch(0.15 0.05 145);
  /* dark green */

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.66 0.04 150);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.1 0.01 150);
  --sidebar-foreground: oklch(0.98 0.005 150);
  --sidebar-primary: oklch(0.6 0.15 150);
  --sidebar-primary-foreground: oklch(0.98 0.005 150);
  --sidebar-accent: oklch(0.4 0.04 150);
  --sidebar-accent-foreground: oklch(0.98 0.01 150);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.66 0.04 150);
}

[data-theme="rose"] {

  --radius: 0.625rem;

  --background: oklch(0.99 0.005 350);
  /* blue-50 */
  --foreground: oklch(0.15 0.03 350);
  /* ~blue-900 */

  --card: oklch(0.98 0.007 350);
  /* blue-100 */
  --card-foreground: oklch(0.15 0.03 350);

  --popover: oklch(0.98 0.007 350);
  --popover-foreground: oklch(0.15 0.03 350);

  --primary: oklch(0.35 0.14 350);
  /* blue-800 */
  --primary-foreground: oklch(0.99 0.005 350);
  /* blue-50 */

  --secondary: oklch(88.2% 0.059 354);
  /* blue-200 */
  --secondary-foreground: oklch(37.9% 0.146 365);
  /* ~blue-900 */

  --muted: oklch(0.93 0.008 350);
  /* blue-100 */
  --muted-foreground: oklch(0.4 0.04 350);
  /* ~blue-600 */

  --accent: oklch(0.88 0.01 350);
  /* blue-300 */
  --accent-foreground: oklch(0.2 0.05 350);

  --destructive: oklch(0.57 0.25 27.325);
  /* red tone */

  --success: oklch(0.55 0.18 145);
  /* green-600 */
  --success-foreground: oklch(0.99 0.01 145);
  /* light green */

  --border: oklch(0.88 0.01 350);
  /* blue-200 */
  --input: oklch(0.88 0.01 350);
  --ring: oklch(0.66 0.04 350);
  /* blue-500 */

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(1 0 0);
  /* white */
  --sidebar-foreground: oklch(0.2 0.05 350);
  --sidebar-primary: oklch(0.3 0.14 350);
  /* blue-900 */
  --sidebar-primary-foreground: oklch(0.99 0.01 350);
  --sidebar-accent: oklch(0.92 0.015 350);
  /* blue-200 */
  --sidebar-accent-foreground: oklch(0.26 0.05 350);
  --sidebar-border: oklch(0.88 0.01 350);
  --sidebar-ring: oklch(0.66 0.04 350);
}

[data-theme="rose"].dark {

  --background: oklch(0.15 0.03 350);
  /* blue-950 */
  --foreground: oklch(0.99 0.005 350);
  /* blue-50 */

  --card: oklch(0.2 0.04 350);
  /* ~blue-900 */
  --card-foreground: oklch(0.99 0.005 350);

  --popover: oklch(0.2 0.04 350);
  --popover-foreground: oklch(0.99 0.005 350);

  --primary: oklch(0.9 0.01 350);
  /* blue-200 */
  --primary-foreground: oklch(0.2 0.05 350);

  --secondary: oklch(37.9% 0.146 365);
  /* blue-800 */
  --secondary-foreground: oklch(0.98 0.005 350);

  --muted: oklch(0.33 0.03 350);
  --muted-foreground: oklch(0.7 0.02 350);

  --accent: oklch(0.4 0.04 350);
  /* blue-700 */
  --accent-foreground: oklch(0.98 0.01 350);

  --destructive: oklch(0.704 0.191 22.216);
  /* red */

  --success: oklch(0.65 0.17 145);
  /* green-400 */
  --success-foreground: oklch(0.15 0.05 145);
  /* dark green */

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.66 0.04 350);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.1 0.01 350);
  --sidebar-foreground: oklch(0.98 0.005 350);
  --sidebar-primary: oklch(0.6 0.15 350);
  --sidebar-primary-foreground: oklch(0.98 0.005 350);
  --sidebar-accent: oklch(0.4 0.04 350);
  --sidebar-accent-foreground: oklch(0.98 0.01 350);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.66 0.04 350);
}

[data-theme="orange"] {

  --radius: 0.625rem;

  --background: oklch(0.99 0.005 45);
  /* blue-50 */
  --foreground: oklch(0.15 0.03 45);
  /* ~blue-900 */

  --card: oklch(0.98 0.007 45);
  /* blue-100 */
  --card-foreground: oklch(0.15 0.03 45);

  --popover: oklch(0.98 0.007 45);
  --popover-foreground: oklch(0.15 0.03 45);

  --primary: oklch(0.35 0.14 45);
  /* blue-800 */
  --primary-foreground: oklch(0.99 0.005 45);
  /* blue-50 */

  --secondary: oklch(88.2% 0.059 49);
  /* blue-200 */
  --secondary-foreground: oklch(37.9% 0.146 60);
  /* ~blue-900 */

  --muted: oklch(0.93 0.008 45);
  /* blue-100 */
  --muted-foreground: oklch(0.4 0.04 45);
  /* ~blue-600 */

  --accent: oklch(0.88 0.01 45);
  /* blue-300 */
  --accent-foreground: oklch(0.2 0.05 45);

  --destructive: oklch(0.57 0.25 27.325);
  /* red tone */

  --success: oklch(0.55 0.18 145);
  /* green-600 */
  --success-foreground: oklch(0.99 0.01 145);
  /* light green */

  --border: oklch(0.88 0.01 45);
  /* blue-200 */
  --input: oklch(0.88 0.01 45);
  --ring: oklch(0.66 0.04 45);
  /* blue-500 */

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(1 0 0);
  /* white */
  --sidebar-foreground: oklch(0.2 0.05 45);
  --sidebar-primary: oklch(0.3 0.14 45);
  /* blue-900 */
  --sidebar-primary-foreground: oklch(0.99 0.01 45);
  --sidebar-accent: oklch(0.92 0.015 45);
  /* blue-200 */
  --sidebar-accent-foreground: oklch(0.26 0.05 45);
  --sidebar-border: oklch(0.88 0.01 45);
  --sidebar-ring: oklch(0.66 0.04 45);
}

[data-theme="orange"].dark {

  --background: oklch(0.15 0.03 45);
  /* blue-950 */
  --foreground: oklch(0.99 0.005 45);
  /* blue-50 */

  --card: oklch(0.2 0.04 45);
  /* ~blue-900 */
  --card-foreground: oklch(0.99 0.005 45);

  --popover: oklch(0.2 0.04 45);
  --popover-foreground: oklch(0.99 0.005 45);

  --primary: oklch(0.9 0.01 45);
  /* blue-200 */
  --primary-foreground: oklch(0.2 0.05 45);

  --secondary: oklch(37.9% 0.146 60);
  /* blue-800 */
  --secondary-foreground: oklch(0.98 0.005 45);

  --muted: oklch(0.33 0.03 45);
  --muted-foreground: oklch(0.7 0.02 45);

  --accent: oklch(0.4 0.04 45);
  /* blue-700 */
  --accent-foreground: oklch(0.98 0.01 45);

  --destructive: oklch(0.704 0.191 22.216);
  /* red */

  --success: oklch(0.65 0.17 145);
  /* green-400 */
  --success-foreground: oklch(0.15 0.05 145);
  /* dark green */

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.66 0.04 45);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.1 0.01 45);
  --sidebar-foreground: oklch(0.98 0.005 45);
  --sidebar-primary: oklch(0.6 0.15 45);
  --sidebar-primary-foreground: oklch(0.98 0.005 45);
  --sidebar-accent: oklch(0.4 0.04 45);
  --sidebar-accent-foreground: oklch(0.98 0.01 45);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.66 0.04 45);
}

[data-radius="0"] {
  --radius: 0;
}

[data-radius="0.3"] {
  --radius: 0.3rem;
}

[data-radius="0.5"] {
  --radius: 0.5rem;
}

[data-radius="0.75"] {
  --radius: 0.75rem;
}

[data-radius="1.0"] {
  --radius: 1.0rem;
}